.starthidden {
 display: none;
}

.filter {
 position: relative;
}

.filter-categories {
 position: absolute;
 padding: 2px 20px 2px 2px;
 background-color: white;
 text-align: left;
 max-height: 400px;
 max-width: 150px;
 overflow: auto;
 white-space: nowrap;
 border: 1px solid black;
}

.filter-category, .filter-categoryAll {
 padding: 2px;
 display: block;
 color: black;
}

.filter-categoryAll {
 font-style: italic;
}

.filter-cbCategory {
}

.filter-header {
 display: inline;
 white-space: nowrap;
}
